* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ccc;
  height: 10vh;
}
.nav-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50vmin;
}
.nav-one a {
  text-decoration: none;
}
.nav-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35vmin;
}
.btn,
.btn > * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 20px;
  background-color: #8c38ff;
  outline: none;
  border: none;
  color: aliceblue;
  text-decoration: none;
}
main {
  background: url("./images/568622-building-commercial.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
main::after {
  position: absolute;
  opacity: 0.4;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #8c38ff;
}
main h1 {
  position: absolute;
  top: 30vmin;
  font-size: 8rem;
  /* color: yellow; */
  z-index: 10;
  text-shadow: 0px 0px 10px yellow, 0px 0px 10px yellow, 0px 0px 10px yellow,
    0px 0px 10px yellow;
}
.products-ul {
  display: flex;
  background-color: #8c38ff;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products-li {
  background-color: #ffffff;
  width: 25rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.products-li img {
  width: 14rem;
  height: 18rem;
  border-radius: 30px;
}
.product {
  display: flex;
  width: 60rem;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  /* align-items: center; */
}
.product img {
  width: 27rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px blue;
}
.product-second {
  margin: 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}
.product-second button {
  width: 10rem;
}
.container {
  padding: 1rem;
}
.main-product {
  width: 100%;
  height: 90vh;
  background-color: #8c38ff;
  display: flex;
  justify-content: center;
}
