* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.asli {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ccc;
  height: 10vh;
}
.asli > :nth-child(1) > :nth-child(1) {
  text-decoration: none;
}
.nav-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60vmin;
}
.nav-one a {
  text-decoration: none;
}
.nav-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37vmin;
}
.btn,
.btn > * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 20px;
  background-color: #8c38ff;
  outline: none;
  border: none;
  color: aliceblue;
  text-decoration: none;
  cursor:pointer;
}
main {
  background: url("./images/568622-building-commercial.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
main h1 > * {
  font-size: 2rem;
}
main::after {
  position: absolute;
  opacity: 0.4;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #8c38ff;
}
main h1 {
  position: absolute;
  top: 30vmin;
  font-size: 8rem;
  /* color: yellow; */
  z-index: 10;
  text-shadow: 0px 0px 10px yellow, 0px 0px 10px yellow, 0px 0px 10px yellow,
    0px 0px 10px yellow;
}
.products {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top right, #8c38ff, #dbd4e6);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products .btn {
  border-radius: 10px;
}
.products ul {
  display: flex;
  background: linear-gradient(to top right, #8c38ff, #dbd4e6);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products-li {
  background-color: #ffffff;
  width: 25rem;
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 1rem;
  /* border: 1px solid red; */
}
.products h3 {
  padding: 2rem;
}
.products-btn {
  display: flex;
  flex-wrap: wrap;
}
.products-li img {
  width: 14rem;
  height: 18rem;
  border-radius: 30px;
}
.products-li p {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.asli-product {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-product {
  margin: 0;
  width: 100%;
  height: 90vh;
  background-color: #8c38ff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 0;
}
.product {
  display: flex;
  width: 50rem;
  flex-direction: row;
  /* justify-content: space-between; */
  background-color: #fff;
  align-items: center;
  overflow: hidden;
}

.product img {
  width: 25rem;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 0px 0px 10px blue;
}
.product-second {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}
.product-second button {
  width: 10rem;
}
.container {
  padding: 1rem;
}

.about {
  background-color: rgb(226, 221, 221);
  height: 90vh;
  overflow: scroll;
  padding: 1rem;
}
.about p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* margin: 4rem 0; */
  padding: 2rem 0;
  line-height: 2rem;
  text-indent: 1rem;
}
.about p:nth-child(3) {
  margin-top: 0;
}
.liner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #ccc;
  width: 10rem;
  transition: all 1s;
}
.liner:hover {
  transition: all 1s;
}

.liner:hover:after {
  position: absolute;
  content: "";
  top: 5.7vh;
  left: 0;
  background-color: #8c38ff;
  height: 0.5rem;
  border-radius: 20px;
  width: 100%;
  transition: all 1s;
}
.btn:focus {
  background-color: #eb6868;
}
.btn:hover {
  background-color: #b285f1;
}
.login {
  position: fixed;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  padding: 50px;
  z-index: 1000;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  padding: 50px;
  background: linear-gradient(to bottom, #8c38ff, #1b5fcc);
  z-index: 1000;
}
.main-login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* height: 10000vw; */
  /* background-color: #eb6868; */
  /* border: 8px solid black; */
}
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  width: 400px;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  background: linear-gradient(to bottom, #8c38ff, #b88bf7);
  border-radius: 30px;
  transform: translateX(150px);
  /* width: 100%; */
}
.card-btn,
.product-second .btn {
  margin-top: 2rem;
}

.box {
  position: relative;
}
.container-form {
  position: relative;
  width: 400px;
  /* min-height: 100%; */
  /* background: rgba(255, 255, 255, 0.1); */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}
.form h2 {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.form h2::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #fff;
}
.form .inputbox {
  width: 100%;
  margin-top: 20px;
}
.form .inputbox input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}
.form .inputbox input::placeholder {
  color: #fff;
}
.form .inputbox input[type="submit"] {
  background: #fff;
  color: #666;
  max-width: 150px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}
.forget {
  margin-top: 5px;
  color: #fff;
}
.forget a {
  color: #fff;
  font-weight: 500;
}
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(226, 221, 221);
  height: 90vh;
  width: 100%;
  overflow: hidden;
  /* align-items: center; */
}
.contact-things-one {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70vh;
  display: block;
  overflow: hidden;

  width: 100%;
  /* background-color: #8c38ff; */
  /* border: 3px solid black; */
}

.contact-things-two {
  margin: 10rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30vh;
  width: 100%;
}
.contact-things-two > * {
  background-color: rgb(226, 221, 221);
  display: flex;
  justify-content: center;
}
.contact-form > :nth-child(1) > :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #8c38ff; */
  height: 10vh;
  width: 100%;
}
.contact-item {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* background-color: #b88bf7; */
}
.contact-form > :nth-child(1) > :nth-child(2) > * {
  margin: 20px;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-contact {
  width: 10vmin;
  height: 10vmin;
}
.vsc {
  display: none;
}
.vsc-res {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.big {
  font-size: 2rem;
}
.form-vsc {
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  /* justify-content: s; */
  /* align-items: center; */
}
.form-vsc > :nth-child(2) {
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: center;
  /* margin-left: 30px; */
}
.form-vsc > :nth-child(2) > * {
  margin: 20px;
  height: 5vh;
}
.nav-vsc > * {
  margin: 20px;
}
.nav-vsc h3 > * {
  color: #fff;
}

.card-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  height: 45vh;
  border-radius: 10px;
  overflow-x: hidden;
}
.card-ul h4 ul {
  list-style: none;
}
.card-ul img {
  width: 5vmin;
}
.card-ul li > :nth-child(1) {
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-ul > :nth-child(1) {
  margin-top: -10px;
}
.card-ul li {
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #c7b4e2, 0px 0px 10px #c7b4e2, 0px 0px 10px #c7b4e2,
    0px 0px 10px #c7b4e2;
  width: 100%;
  height: 9vh;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-ul li p {
  font-size: 0.9rem;
}
.ctf {
  margin: 10px;
}
@media (max-width: 480px) {
  body {
    background-color: #fff;
  }
  nav > :nth-child(1) {
    display: none;
  }
  .vsc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    height: 10vh;
    padding: 1rem;
  }
  .contact-things-two {
    flex-direction: column;
  }
  .products .btn {
    padding: 0.5rem 0.5rem;
  }
  .product {
    display: flex;
    width: 50rem;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    overflow: hidden;
  }
  .product-second {
    overflow: scroll;
  }
  .product img {
    width: 77vw;
  }
}
